* {
  font-family: "Roboto", sans-serif;
}

main {
  margin: 0 auto;
  max-width: 1200px;
}

.hero {
  display: grid;
  grid-template-columns: minmax(300px, 2fr) 3fr;
  border-bottom: 1px solid #ddd;
}

.hero-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero-info--title {
  color: #333;
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 24px;
}

.hero-info--subtitle {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 24px;
}

.hero-info--button {
  background-color: #fb8c00;
  border: none;
  border-radius: 20px;
  color: #333;
  font-weight: 900;
  padding: 12px 24px;
}

.hero-image {
  object-fit: contain;
  width: 100%;
}

.dishes {
  margin: 100px 0 100px 0;
}

.dishes-title {
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.dishes-grid {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  grid-template-rows: repeat(2, minmax(150px, 1fr));
  justify-content: center;
}

.dishes-item {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.dishes-item__big {
  grid-area: 1 / 1 / 3 / 3;
}

.menu {
  margin-bottom: 200px;
}

.menu-title {
  color: #333;
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 50px;
  text-align: center;
}

.menu-grid {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, 220px);
  justify-content: center;
}

.menu-grid-item {
  background: #ffebee;
  border-top-left-radius: 40px;
  padding: 15px;
}

.menu-grid-item img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .hero {
    grid-template-columns: minmax(300px, 500px);
    justify-content: center;
  }

  .hero-image {
    display: none;
  }

  .dishes-grid {
    grid-template-columns: repeat(auto-fit, minmax(75px, 100px));
  }
}
